/* bouton radio cachés  */

/*
input[type="radio"]
{
transform: scale(0,0);
}
input[type="radio"]:checked+label img{outline: 3px solid #0f0;}
*/
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto; 
	}

/* image de fond du site : pour les tres grand ecran : pas de fond blanc, plus agreable à regarder!  */
#equipe{
background-image:url("../image/occludert.png"); 
background-repeat: repeat;
background-origin: content-box;
/*background-size: cover; */
 opacity: 0.90;
 filter: alpha(opacity=50); /* For IE8 and earlier */
}











