@font-face {

font-family: 'Century Gothic';

src: url('Century Gothic Normal.eot');

src: url('Century Gothic Normal.eot?#iefix') format('embedded-opentype'),

url('Century Gothic Normal.woff') format('woff'),

url('Century Gothic Normal.ttf') format('truetype'),

url('Century Gothic Normal.svg#LHANDW') format('svg');

font-weight: normal;

font-style: normal;

}

IMG.displayed {

    display: block;

    margin-left: auto;

    margin-right: auto; 

	}

#articleManagement,#introManagement{

margin-left:5%;

margin-right:5%;

}


#puces  li{

list-style-type: square; 

text-align:left;

position:left;

padding:0;

margin:0;

}


/* texte clingnotant  */

.blink_me {

    -webkit-animation-name: blinker;

    -webkit-animation-duration: 1s;

    -webkit-animation-timing-function: linear;

    -webkit-animation-iteration-count: infinite;


    -moz-animation-name: blinker;

    -moz-animation-duration: 1s;

    -moz-animation-timing-function: linear;

    -moz-animation-iteration-count: infinite;

    
    animation-name: blinker;

    animation-duration: 1s;

    animation-timing-function: linear;

    animation-iteration-count: infinite;

}



@-moz-keyframes blinker {  

    0% { opacity: 1.0; }

    50% { opacity: 0.0; }

    100% { opacity: 1.0; }

}



@-webkit-keyframes blinker {  

    0% { opacity: 1.0; }

    50% { opacity: 0.0; }

    100% { opacity: 1.0; }

}



@keyframes blinker {  

    0% { opacity: 1.0; }

    50% { opacity: 0.0; }

    100% { opacity: 1.0; }

}

/* calendrier à droite.  */

.right {

    position: absolute;

    right: 10%;

    width: 20%;

	top:20%;

    border:none;

    padding: 0.5%;

}




/*
#choixlangue

{

width:20%; 

position:float-right;

padding:1px;

}



#projet ul,ol,li{

text-align:left;

position:left;

padding:0;

margin:0;

}
*/


ol{

color:black;
text-align:left;

position:left;

padding:0;

margin:0;

}
nav
{ 
font-family:"Century Gothic"; 
display:inline;

position:center;

width:100%; /*modif?*/

}





body 
   {

width:100%; /* ou 1000px;  */ 

max-width:1200px; /* taille de la page bloque à 1200px... */

margin: auto;

color: black;

text-align:center;

   /* min-height:1000px;

   max-width:1200px; /*voir comment cela s'affiche sur la page en ligne  */

height:auto;

font-family:"Century Gothic Normal"; /* choix de Marlène le 18 Janvier 2018.marche  avec chrome si dans la page directement?! et pour l'animation flash */
/*font-family: "'Times New Roman', Times, serif";*/

  }

  

/*  pour fixer la taille du site....quelque soit la taille de l'écran :    */

#body{ 


width:100%; /* ou 1200px;  */ 

color: black; /*couleur du texte : noire */

margin: auto;

height:auto;

border:none; /* 1px solid #339fff ; /* pour le developpement...*/

padding: 0px;
position:center;

}  



#admin{

padding: 50px 30px 50px 80px;

}

#header{ 

 /* position de l'image en tête */

   position:center;   

width:20%;

height:10px;

margin-bottom:0px;

margin-top:0px;

margin-left: 150px;



z-index:-100px; 


}





#cell{

display:flex;

flex-wrap:wrap; /* ??? */

}



article
{

text-align:justify;

margin-left:5%;

margin-right:5%; /* modif le 11 Octobre 2017...verifiee la pertinence...*/

}





articlebis

{

text-align:justify;

margin-left:10%;

margin-right:35%; /* modif le 12 Octobre 2017...verifiee la pertinence...pour l'aside (a droite 20%)*/

}



#articlebis

{

/* supression du gradient... */

width:100%;

/* height:100%; */

color:black; /* #3b0071 violet foncé! */

background-color:  white; /*#80bfff; /* bleu claire... */

margin-right:2%;

 border-width:0px;

 border-style:none;

 /*border-color:#339fff; /* bleu moyen */

 padding:3%;

-moz-border-radius:10px ;

-webkit-border-radius:10px ;

border-radius:10px ;

 text-align:center;

}





#activite{color:transparent;}



#contenu{

width:100%;

color:black;

}



a{color:#5858da;}



#section-article {

/* supression du gradient... */

width:100%;

height:auto;

text-align:justify;

color:black ; /* #3b0071 violet foncé! noire*/

background-color:none; /*#80bfff; /* bleu claire... */

margin-left:2%;

margin-right:2%;

padding-right:10%;

border-width:0px;

border-style:none;

 /*border-color:#339fff; /* bleu moyen */

 padding:1%;

-moz-border-radius:10px ;

-webkit-border-radius:10px ;

border-radius:10px ;

 }

 

 #section-articlebis {

/* supression du gradient... */

width:100%;

height:auto;

color:black; /* #3b0071 violet foncé! */

background-color:none; /*#80bfff; /* bleu claire... */

margin-left:3%;

margin-right:3%;

border-width:0px;

border-style:none;

 /*border-color:#339fff; /* bleu moyen */

 text-align:justify;

 }

 

 /* page  activite expaertise : cartouche responsable */

#fin-article{

width:100%;

margin-left:0px;
margin-right:0px;
background-color:#e6f2ff;

 border-width:0px;

 border-style:none;

 /*border-color: #ccccff; */

 padding:0px;

-moz-border-radius:10px ;

-webkit-border-radius:10px ;

border-radius:10px ;

 }

 

#PTIB{

width:50%;

position:center;

 border-width:0px;

 border-style:none;

 border-color:transparent;

 padding-right:5px;

 }

 

.arrondie{

-moz-border-radius:10px;

-webkit-border-radius:10px;

border-radius:10px;

}



#aside1

{

position:relative; 

width:20%;

padding:0px;

display:inline-block; 

background-color:#ffffff; /* white */

float:right;
margin-right:2%;
height:auto;

text-align: center;	

}


#asideEq
{

position:relative; 

width:20%;

padding-left:5%;
padding-right:2%;
display:inline-block; 

background-color:#ffffff; /* white */

float:right;
margin-right:2%;
height:auto;

text-align: center;	

}


/*
#foot
{
position:relative; 

width:20%;

padding:1px;

display:inline-block; 

margin-right:2%;

float: right;

height:100%;

text-align: justify;	

}
*/




#test a{color:#0059b3;}



#test, #page

{

clear:left;

text-align:center;

background-color:#ffffff; 

opacity:0.5;

}



th, td {

    padding: 0.5%;

    text-align: left;

	

}



/* tableau des pulications... */



#tab {

    width: 95%;

}



#tab td {

    height: 50px;

    vertical-align: left;	

}



#tab tr {

    background-color:#339fff;  /* bleu moyen */

	border-spacing: white;  /* #004d99; */

	color:#fff7e6; /* jaune orangé  */

	text-align:center;

}



#tab th {

   background-color:#3b0071; /* violet tres foncé */

   text-align:left;

   color:#80bfff; /* bleu claire */

}



/*************************************/

/* mise en forme des formulaires ... */

/*************************************/

/*

form {

 padding:0px;

 width:100%;

background-color:transparent;

 }

 */

 form {

text-align: center;

 padding:0%;

 margin-left:10%;

 /*width:80%;*/

background-color:transparent;

 }



 

/* 

#form

{ 

width:100%; 

position:relative;

}



fieldset {

 padding:0 20px 20px 20px;

 margin-bottom:10px;

 border:1px solid white;

 }

 */

 

 fieldset {

 padding:0 5px 5px 5px;

 margin-bottom:10px;

 border:1px solid white;

 width:90%;

 }

 

legend {

 color:white;

 font-weight:bold

 }

/*label {

 margin-top:10px;

 display:block;

 } */

 

 label {

text-align:left;

 margin-top:10px;

 margin-left:10%;

 display:block;

 }

 

 

 label.inline {

 display:inline;

 margin-right:20px;

 }



input, textarea, select {

 padding:3px;

 border:1px solid white;

 border-radius:5px;

 width:70%;

 box-shadow:1px 1px 2px #C0C0C0 inset;

 }

 

select {

 margin-top:10px;

 }

 

input[type=radio] {

 background-color:transparent;

 border:none;

 width:20px;

 }

 

input[type=submit], input[type=reset] {

border:none;

color:bleu;

 margin-left:1px;

 box-shadow:1px 1px 1px #D83F3D;

 cursor:pointer;

 }

 



 input:focus, textarea:focus {

 background-color:white;

 }

input[type=submit]:focus, input[type=reset]:focus {

 background-color:white;

}

input[type=submit]:hover, input[type=reset]:hover {

 background-color:white;

 }



 /* quelques formulaire: */

 /* formulaire de contact !  */

#FdC{

text-align: center;

 padding:0%;

 margin-left:10%;

 width:100%;

background-color:#b3d9ff; /* bleu... */

 }



 /* choix des langues  */ 

 #CdL {

 position:relative;

text-align: center;

 padding:0%;
margin-right:1%;
 float:right;
padding-right:15%;
 padding-left:80%;

 width:40%;

background-color:transparent;

 }

 



hr {

/*

    display: block;

    clear: both;

    height: 0;

    margin: 10% 0% 10%;

    padding: 0;

    border: 0;

    font-family: arial;

    text-align: center;

    font-size: 5em;

    line-height: 50%;

	*/

}





/********************************/

/* les images, galerie d'images */

/********************************/

/*

div.img {

    margin: 5px; 

    border: 1px solid #ccc;

    float: left;

    width: 180px;

}



div.img:hover {

    border: 1px solid #777;

}


*/
div.img {

    width: 100%;

    height: auto;

}

/*

div.desc {

    padding: 15px;

    text-align: center;

}

li

{

list-style-type:none;

}

*/

img{

  display:block;

    margin:0px; 

}

.img{

margin-left:20%;

}

.img2{

margin-left:10%;

padding-right:2px;

}

.img3{

margin-left:2%;

padding-right:2%;

margin-right:0%;

}
div.img {

    width: 100%;

    height: auto;
	
}


/********************************/

/* le calendrier des evenements */

/********************************/



table.calendrier {

	margin: auto;

	text-align: center;

	/* border: 1px solid black; */

	border-collapse: collapse;

}



table.calendrier th {

	border-bottom: 1px solid black;

}



table.calendrier td {

	/* border: 1px solid black; */

	width: 4%; /*20px; */

	height:4%; /* 20px; */

}



table.calendrier td div {

	padding: 0px;

}



.jourEvenement {

	background-color: rgb(253, 241, 184);

}



.lienCalendrierJour {

	background-color: rgb(203, 206, 250);

}


.calendrier caption {

	margin: auto;

	margin-bottom: 3px;

}


/* Administration */

#tabAjoutEvent {

	margin: auto;

}

#tabAjoutEvent td {

	width: 50%;

	text-align:center;

}





/* Infobulles 

a.info {

	position: relative;

	color: black;

	text-decoration: none;

	display: block;

}

a.info span {

	display: none; /* on masque l'infobulle 

}

a.info:hover {

	background: none; /* correction d'un bug IE 

	z-index: 500; /* on définit une valeur pour l'ordre d'affichage 

}

a.info:hover span {

	display: inline; /* on affiche l'infobulle 

	position: absolute;



	white-space: nowrap; /* on change la valeur de la propriété white-space pour qu'il n'y ait pas de retour à la ligne non-désiré 



	top: 30px; /* on positionne notre infobulle 

	left: 20px;

	

	text-align: left;

	background: white;

	padding: 3px;

	border: 1px solid black;

}


/* Liste des événements à supprimer */

table.listeEvent {

	width: 100%;

	border: 1px solid black;

	border-collapse: collapse;

}

table.listeEvent td {

	padding: 5px;

}

/************************************/

/* fin du calendrier des evenements */

/************************************/



h1{font-size:2.6em;line-height:1.0em;margin-top:0;margin-bottom:0.0em;}

h2{font-size:2.2em;line-height:1.0em;margin-top:0.5em;margin-bottom:0.5em;}

 h3{font-size:1.8em;line-height:1.0em;margin-top:0 em;margin-bottom:0em;}

h4,h5,h6{font-size:1.3em;line-height:1.0em;margin-top:0.25em;margin-bottom:0.25em;}



/*******************************/

/* position de l'image en tête */

/*******************************/



#header {  


width:100%;

height:200px;

margin-bottom:0px;

margin-top:0px;

margin-left: 0px;

z-index:-100px; 

/*background-image: linear-gradient(to top, rgba(0, 102, 255,0), rgba(0, 102, 255,0.8)); */

}


table{

width:100%;

	margin: auto;

	text-align: center;

	 border: 1px solid black; 

	border-collapse: collapse;
}


.ex2 {
    table-layout: fixed;
	border:none;
}

ol{

color:black;
text-align:left;

position:left;

padding:0;

margin:0;

}












